//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$bp-desktop-xxl: 1920px;

//variables de colores
$black: #151515;
$beig: #4EE1A0;
$dark-silver: #242424;
$silver: #d9d9d9;
$white: #FFFFFF;

//variables de las fuentes
$primary-font: Space Grotesk;
