//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1440px;
$bp-desktop-xxl: 1920px;

//variables de color
$negro: #151515;
$verde-claro: #4EE1A0;
$gris-oscuro: #242424;
$gris-claro: #D9D9D9;
$blanco: #FFFFFF;

//fuentes de la pagina
$space-grotest: 'Space Grotesk';