@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;


.footer-principal{
    position: relative;
    padding-top: 60px;
    background-color: abs.$gris-oscuro;
    @include abs.breakpoint(desktopxl){
        padding-top: 84px;
    }
    .circulos-footer-movil{
        position: absolute;
        left: 0;
        top: 52%;
        @include abs.breakpoint(tablet){
            display: none;
        }
    }
    .circulos-footer-tablet{
        display: none;
        @include abs.breakpoint(tablet){
            display: block;
            position: absolute;
            left: 0;
            top: 67%;
        }
        @include abs.breakpoint(desktopxl){
            display: none;
        }
    }
    .circulos-footer-desktop{
        display: none;
        @include abs.breakpoint(desktopxl){
            display: block;
            position: absolute;
            left: 0;
            top: 52%;
        }
    }
    .container-footer-principal{
        .formulario-contacto{
            border-bottom: 1px solid abs.$blanco;
            padding-bottom: 87px;
            margin-bottom: 39px;
            @include abs.breakpoint(tablet){
                padding-bottom: 92px;
                margin-bottom: 30px;
            }
            @include abs.breakpoint(desktopxl){
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 47px;
            }
            .contacto{
                @include abs.breakpoint(desktopxl){
                    width: 50%;
                }
                h3{
                    font-size: 40px;
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 20px;
                    line-height: 40px;
                    @include abs.breakpoint(tablet){
                        font-size: 72px;
                        line-height: 72px;
                        letter-spacing: -2.05px;
                    }
                    @include abs.breakpoint(desktopxl){
                        font-size: 88px;
                        line-height: 88px;
                        letter-spacing: -2.5px;
                        text-align: left;
                    }
                }
                p{
                    font-size: 16px;
                    font-weight: 500;
                    color: abs.$gris-claro;
                    text-align: center;
                    margin-bottom: 50px;
                    line-height: 26px;
                    @include abs.breakpoint(tablet){
                        font-size: 18px;
                        line-height: 28px;
                        max-width: 445px;
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    @include abs.breakpoint(desktopxl){
                        text-align: left;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
            .formulario{
                display: flex;
                flex-direction: column;
                @include abs.breakpoint(tablet){
                    max-width: 445px;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
                @include abs.breakpoint(desktopxl){
                    margin-left: 0;
                    margin-right: 0;
                }
                input{
                    outline: none;
                    background-color: abs.$gris-oscuro;
                    border: 0;
                    border-bottom: 1px solid abs.$blanco;
                    padding-left: 24px;
                    padding-bottom: 16px;
                    margin-bottom: 32px;
                    &::placeholder{
                        font-size: 16px;
                        color: #919191;
                        line-height: 26px;
                    }
                    &:focus{
                        border-bottom: 1px solid abs.$verde-claro;
                    }
                }
                .textarea{
                    padding-left: 24px;
                    padding-bottom: 80px;
                    margin-bottom: 32px;
                }
                .email-input{
                    position: relative;
                    .email{
                        width: 100%;
                    }
                    .icon-error-email{
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: none;
                    }
                    .mensaje-error-email{
                        position: absolute;
                        right: 0;
                        bottom: 12px;
                        font-size: 12px;
                        line-height: 16px;
                        color: #ff6f5b;
                        display: none;
                    }
                    .invalid{
                        border-bottom: 1px solid #ff6f5b;
                    }
                }
                button{
                    align-self: flex-end;
                    width: max-content;
                    background-color: abs.$gris-oscuro;
                    border: 0;
                    @include comp.boton;
                }
            }
        }
        .titulo-nav-footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding-bottom: 60px;
            @include abs.breakpoint(tablet){
                padding-bottom: 40px;
                gap: 0;
                flex-direction: row;
                justify-content: space-between;
            }
            h2{
                font-size: 24px;
                font-weight: bold;
                line-height: 32px;
                @include abs.breakpoint(tablet){
                    font-size: 32px;
                    letter-spacing: -0.44px;
                }
            }
            .menu-footer{
                .menu-movil{
                    display: flex;
                    gap: 26px;
                    @include abs.breakpoint(tablet){
                        display: none;
                    }
                }
                .menu-tablet{
                    display: none;
                    @include abs.breakpoint(tablet){
                        display: flex;
                        gap: 32px;
                    }
                }
            }
        }
    }
}