@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;

.main-principal{
    position: relative;
    .circulos-main-movil{
        position: absolute;
        right: 0;
        top: 16%;
        @include abs.breakpoint(desktopxl){
            display: none;
        }
    }
    .circulos-main-desktop{
        display: none;
        @include abs.breakpoint(desktopxl){
            display: block;
            position: absolute;
            right: 0;
            top: 8%;
        }
    }
    .container-main-principal{
        padding-bottom: 40px;
        @include abs.breakpoint(tablet){
            padding-bottom: 60px;
        }
        @include abs.breakpoint(desktopxl){
            padding-bottom: 139px;
        }
        .habilidades-movil-tablet{
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding-bottom: 40px;
            margin-bottom: 80px;
            border-bottom: 1px solid abs.$blanco;
            @include abs.breakpoint(tablet){
                gap: 52px;
                border: 0;
            }
            @include abs.breakpoint(desktopxl){
                display: none;
            }
            .top{
                display: flex;
                flex-direction: column;
                gap: 24px;
                @include abs.breakpoint(tablet){
                    flex-direction: row;
                    gap: 0;
                }
                .html{
                    @include abs.breakpoint(tablet){
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 14px;
                    }
                    h3{
                        font-size: 32px;
                        font-weight: bold;
                        text-align: center;
                        margin-bottom: 14px;
                        line-height: 40px;
                        @include abs.breakpoint(tablet){
                            font-size: 48px;
                            line-height: 56px;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-bottom: 0;
                        }
                    }
                    p{
                        font-size: 16px;
                        font-weight: 500;
                        color: abs.$gris-claro;
                        text-align: center;
                        line-height: 26px;
                        @include abs.breakpoint(tablet){
                            font-size: 18px;
                            line-height: 28px;
                            text-align: left;
                        }
                    }
                }
                .css{
                    @include abs.breakpoint(tablet){
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 14px;
                    }
                    h3{
                        font-size: 32px;
                        font-weight: bold;
                        text-align: center;
                        margin-bottom: 14px;
                        line-height: 40px;
                        @include abs.breakpoint(tablet){
                            font-size: 48px;
                            line-height: 56px;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-bottom: 0;
                        }
                    }
                    p{
                        font-size: 16px;
                        font-weight: 500;
                        color: abs.$gris-claro;
                        text-align: center;
                        line-height: 26px;
                        @include abs.breakpoint(tablet){
                            font-size: 18px;
                            line-height: 28px;
                            text-align: left;
                        }
                    }
                }
            }
            .mid{
                display: flex;
                flex-direction: column;
                gap: 24px;
                @include abs.breakpoint(tablet){
                    flex-direction: row;
                    gap: 0;
                }
                .javascript{
                    @include abs.breakpoint(tablet){
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 14px;
                    }
                    h3{
                        font-size: 32px;
                        font-weight: bold;
                        text-align: center;
                        margin-bottom: 14px;
                        line-height: 40px;
                        @include abs.breakpoint(tablet){
                            font-size: 48px;
                            line-height: 56px;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-bottom: 0;
                        }
                    }
                    p{
                        font-size: 16px;
                        font-weight: 500;
                        color: abs.$gris-claro;
                        text-align: center;
                        line-height: 26px;
                        @include abs.breakpoint(tablet){
                            font-size: 18px;
                            line-height: 28px;
                            text-align: left;
                        }
                    }
                }
                .access{
                    @include abs.breakpoint(tablet){
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 14px;
                    }
                    h3{
                        font-size: 32px;
                        font-weight: bold;
                        text-align: center;
                        margin-bottom: 14px;
                        line-height: 40px;
                        @include abs.breakpoint(tablet){
                            font-size: 48px;
                            line-height: 56px;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-bottom: 0;
                        }
                    }
                    p{
                        font-size: 16px;
                        font-weight: 500;
                        color: abs.$gris-claro;
                        text-align: center;
                        line-height: 26px;
                        @include abs.breakpoint(tablet){
                            font-size: 18px;
                            line-height: 28px;
                            text-align: left;
                        }
                    }
                }
            }
            .bottom{
                display: flex;
                flex-direction: column;
                gap: 24px;
                @include abs.breakpoint(tablet){
                    flex-direction: row;
                    gap: 0;
                }
                .react{
                    @include abs.breakpoint(tablet){
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 14px;
                    }
                    h3{
                        font-size: 32px;
                        font-weight: bold;
                        text-align: center;
                        margin-bottom: 14px;
                        line-height: 40px;
                        @include abs.breakpoint(tablet){
                            font-size: 48px;
                            line-height: 56px;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-bottom: 0;
                        }
                    }
                    p{
                        font-size: 16px;
                        font-weight: 500;
                        color: abs.$gris-claro;
                        text-align: center;
                        line-height: 26px;
                        @include abs.breakpoint(tablet){
                            font-size: 18px;
                            line-height: 28px;
                            text-align: left;
                        }
                    }
                }
                .sass{
                    @include abs.breakpoint(tablet){
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 14px;
                    }
                    h3{
                        font-size: 32px;
                        font-weight: bold;
                        text-align: center;
                        margin-bottom: 14px;
                        line-height: 40px;
                        @include abs.breakpoint(tablet){
                            font-size: 48px;
                            line-height: 56px;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-bottom: 0;
                        }
                    }
                    p{
                        font-size: 16px;
                        font-weight: 500;
                        color: abs.$gris-claro;
                        text-align: center;
                        line-height: 26px;
                        @include abs.breakpoint(tablet){
                            font-size: 18px;
                            line-height: 28px;
                            text-align: left;
                        }
                    }
                }
            }
        }
        .habilidades-desktop{
            display: none;
            @include abs.breakpoint(desktopxl){
                display: flex;
                flex-direction: column;
                gap: 58px;
                margin-bottom: 140px;
                .top{
                    display: flex;
                    .html{
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        gap: 14px;
                        h3{
                            font-size: 48px;
                            line-height: 56px;
                            font-weight: bold;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-bottom: 0;
                        }
                        p{
                            font-size: 18px;
                            line-height: 28px;
                            text-align: left;
                            font-weight: 500;
                            color: abs.$gris-claro;
                        }
                    }
                    .css{
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        gap: 14px;
                        h3{
                            font-size: 48px;
                            line-height: 56px;
                            font-weight: bold;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-bottom: 0;
                        }
                        p{
                            font-size: 18px;
                            line-height: 28px;
                            text-align: left;
                            font-weight: 500;
                            color: abs.$gris-claro;
                        }
                    }
                    .javascript{
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        gap: 14px;
                        h3{
                            font-size: 48px;
                            line-height: 56px;
                            font-weight: bold;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-bottom: 0;
                        }
                        p{
                            font-size: 18px;
                            line-height: 28px;
                            text-align: left;
                            font-weight: 500;
                            color: abs.$gris-claro;
                        }
                    }
                }
                .bottom{
                    display: flex;
                    .access{
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        gap: 14px;
                        h3{
                            font-size: 48px;
                            line-height: 56px;
                            font-weight: bold;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-bottom: 0;
                        }
                        p{
                            font-size: 18px;
                            line-height: 28px;
                            text-align: left;
                            font-weight: 500;
                            color: abs.$gris-claro;
                        }
                    }
                    .react{
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        gap: 14px;
                        h3{
                            font-size: 48px;
                            line-height: 56px;
                            font-weight: bold;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-bottom: 0;
                        }
                        p{
                            font-size: 18px;
                            line-height: 28px;
                            text-align: left;
                            font-weight: 500;
                            color: abs.$gris-claro;
                        }
                    }
                    .sass{
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        gap: 14px;
                        h3{
                            font-size: 48px;
                            line-height: 56px;
                            font-weight: bold;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-bottom: 0;
                        }
                        p{
                            font-size: 18px;
                            line-height: 28px;
                            text-align: left;
                            font-weight: 500;
                            color: abs.$gris-claro;
                        }
                    }
                }
            }
        }
        .projects{
            display: flex;
            flex-direction: column;
            .titulo-boton{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;
                @include abs.breakpoint(tablet){
                    margin-bottom: 60px;
                }
                h3{
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 40px;
                    @include abs.breakpoint(tablet){
                        font-size: 72px;
                        line-height: 72px;
                        letter-spacing: -2.05px
                    }
                    @include abs.breakpoint(desktop){
                        font-size: 88px;
                        line-height: 88px;
                        letter-spacing: -2.5px
                    }
                }
                .button{
                    @include comp.boton;
                }
            }
            .container-projects{
                @include abs.breakpoint(tablet){
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
                @include abs.breakpoint(desktopxl){
                    gap: 69px;
                }
                .top{
                    @include abs.breakpoint(tablet){
                        display: flex;
                        gap: 22px;
                    }
                    @include abs.breakpoint(desktopxl){
                        gap: 30px;
                    }
                    .portfolio{
                        margin-bottom: 40px;
                        @include abs.breakpoint(desktopxl){
                            display: none;
                        }
                        img{
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        h4{
                            font-size: 24px;
                            font-weight: bold;
                            margin-bottom: 7px;
                            line-height: 32px;
                        }
                        .tecnologias{
                            display: flex;
                            gap: 18px;
                            margin-bottom: 20px;
                            p{
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 28px;
                            }
                        }
                        .buttons{
                            display: flex;
                            gap: 32px;
                            .button{
                                @include comp.boton;
                            }
                        }
                    }
                    .portfolio-desktop{
                        display: none;
                        @include abs.breakpoint(desktopxl){
                            display: block;
                            .image-options{
                                position: relative;
                                margin-bottom: 20px;
                                &:hover{
                                    .options{
                                        opacity: 1;
                                        z-index: 1;
                                        cursor: pointer;
                                    }
                                }
                                .options{
                                    position: absolute;
                                    top: 0;
                                    opacity: 0;
                                    z-index: -1;
                                    width: 540px;
                                    height: 400px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 48px;
                                    background-color: rgba(0, 0, 0, 0.7);
                                    transition: opacity 1s ease-in-out;
                                    .button{
                                        @include comp.boton;
                                    }
                                }
                                .image-portfolio-desktop{
                                    width: 540px;
                                }
                            }
                            .titulo-tecnologias{
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                gap: 7px;
                                h4{
                                    font-size: 24px;
                                    line-height: 32px;
                                    font-weight: bold;
                                }
                                .tecnologias{
                                    display: flex;
                                    gap: 18px;
                                    p{
                                        font-size: 18px;
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                    .landing-page{
                        margin-bottom: 40px;
                        @include abs.breakpoint(desktopxl){
                            display: none;
                        }
                        img{
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        h4{
                            font-size: 24px;
                            font-weight: bold;
                            margin-bottom: 7px;
                            line-height: 32px;
                        }
                        .tecnologias{
                            display: flex;
                            gap: 18px;
                            margin-bottom: 20px;
                            p{
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 28px;
                            }
                        }
                        .buttons{
                            display: flex;
                            gap: 32px;
                            .button{
                                @include comp.boton;
                            }
                        }
                    }
                    .landing-page-desktop{
                        display: none;
                        @include abs.breakpoint(desktopxl){
                            display: block;
                            .image-options{
                                position: relative;
                                margin-bottom: 20px;
                                &:hover{
                                    .options{
                                        opacity: 1;
                                        z-index: 1;
                                        cursor: pointer;
                                    }
                                }
                                .options{
                                    position: absolute;
                                    top: 0;
                                    opacity: 0;
                                    z-index: -1;
                                    width: 540px;
                                    height: 400px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 48px;
                                    background-color: rgba(0, 0, 0, 0.7);
                                    transition: opacity 1s ease-in-out;
                                    .button{
                                        @include comp.boton;
                                    }
                                }
                                .image-landing-desktop{
                                    width: 540px;
                                }
                            }
                            .titulo-tecnologias{
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                gap: 7px;
                                h4{
                                    font-size: 24px;
                                    line-height: 32px;
                                    font-weight: bold;
                                }
                                .tecnologias{
                                    display: flex;
                                    gap: 18px;
                                    p{
                                        font-size: 18px;
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                }
                .mid{
                    @include abs.breakpoint(tablet){
                        display: flex;
                        gap: 22px;
                    }
                    @include abs.breakpoint(desktopxl){
                        gap: 30px;
                    }
                    .todo-web{
                        margin-bottom: 40px;
                        @include abs.breakpoint(desktopxl){
                            display: none;
                        }
                        img{
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        h4{
                            font-size: 24px;
                            font-weight: bold;
                            margin-bottom: 7px;
                            line-height: 32px;
                        }
                        .tecnologias{
                            display: flex;
                            gap: 18px;
                            margin-bottom: 20px;
                            p{
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 28px;
                            }
                        }
                        .buttons{
                            display: flex;
                            gap: 32px;
                            .button{
                                @include comp.boton;
                            }
                        }
                    }
                    .todo-web-desktop{
                        display: none;
                        @include abs.breakpoint(desktopxl){
                            display: block;
                            .image-options{
                                position: relative;
                                margin-bottom: 20px;
                                &:hover{
                                    .options{
                                        opacity: 1;
                                        z-index: 1;
                                        cursor: pointer;
                                    }
                                }
                                .options{
                                    position: absolute;
                                    top: 0;
                                    opacity: 0;
                                    z-index: -1;
                                    width: 540px;
                                    height: 400px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 48px;
                                    background-color: rgba(0, 0, 0, 0.7);
                                    transition: opacity 1s ease-in-out;
                                    .button{
                                        @include comp.boton;
                                    }
                                }
                                .image-todo-web-desktop{
                                    width: 540px;
                                }
                            }
                            .titulo-tecnologias{
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                gap: 7px;
                                h4{
                                    font-size: 24px;
                                    line-height: 32px;
                                    font-weight: bold;
                                }
                                .tecnologias{
                                    display: flex;
                                    gap: 18px;
                                    p{
                                        font-size: 18px;
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                    .entertainment-app{
                        margin-bottom: 40px;
                        @include abs.breakpoint(desktopxl){
                            display: none;
                        }
                        img{
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        h4{
                            font-size: 24px;
                            font-weight: bold;
                            margin-bottom: 7px;
                            line-height: 32px;
                        }
                        .tecnologias{
                            display: flex;
                            gap: 18px;
                            margin-bottom: 20px;
                            p{
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 28px;
                            }
                        }
                        .buttons{
                            display: flex;
                            gap: 32px;
                            .button{
                                @include comp.boton;
                            }
                        }
                    }
                    .entertainment-app-desktop{
                        display: none;
                        @include abs.breakpoint(desktopxl){
                            display: block;
                            .image-options{
                                position: relative;
                                margin-bottom: 20px;
                                &:hover{
                                    .options{
                                        opacity: 1;
                                        z-index: 1;
                                        cursor: pointer;
                                    }
                                }
                                .options{
                                    position: absolute;
                                    top: 0;
                                    opacity: 0;
                                    z-index: -1;
                                    width: 540px;
                                    height: 400px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 48px;
                                    background-color: rgba(0, 0, 0, 0.7);
                                    transition: opacity 1s ease-in-out;
                                    .button{
                                        @include comp.boton;
                                    }
                                }
                                .image-entertainment-app-desktop{
                                    width: 540px;
                                }
                            }
                            .titulo-tecnologias{
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                gap: 7px;
                                h4{
                                    font-size: 24px;
                                    line-height: 32px;
                                    font-weight: bold;
                                }
                                .tecnologias{
                                    display: flex;
                                    gap: 18px;
                                    p{
                                        font-size: 18px;
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                }
                .bottom{
                    @include abs.breakpoint(tablet){
                        display: flex;
                        gap: 22px;
                    }
                    @include abs.breakpoint(desktopxl){
                        gap: 30px;
                    }
                    .memory-game{
                        margin-bottom: 40px;
                        @include abs.breakpoint(desktopxl){
                            display: none;
                        }
                        img{
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        h4{
                            font-size: 24px;
                            font-weight: bold;
                            margin-bottom: 7px;
                            line-height: 32px;
                        }
                        .tecnologias{
                            display: flex;
                            gap: 18px;
                            margin-bottom: 20px;
                            p{
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 28px;
                            }
                        }
                        .buttons{
                            display: flex;
                            gap: 32px;
                            .button{
                                @include comp.boton;
                            }
                        }
                    }
                    .memory-game-desktop{
                        display: none;
                        @include abs.breakpoint(desktopxl){
                            display: block;
                            .image-options{
                                position: relative;
                                margin-bottom: 20px;
                                &:hover{
                                    .options{
                                        opacity: 1;
                                        z-index: 1;
                                        cursor: pointer;
                                    }
                                }
                                .options{
                                    position: absolute;
                                    top: 0;
                                    opacity: 0;
                                    z-index: -1;
                                    width: 540px;
                                    height: 400px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 48px;
                                    background-color: rgba(0, 0, 0, 0.7);
                                    transition: opacity 1s ease-in-out;
                                    .button{
                                        @include comp.boton;
                                    }
                                }
                                .image-memory-game-desktop{
                                    width: 540px;
                                }
                            }
                            .titulo-tecnologias{
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                gap: 7px;
                                h4{
                                    font-size: 24px;
                                    line-height: 32px;
                                    font-weight: bold;
                                }
                                .tecnologias{
                                    display: flex;
                                    gap: 18px;
                                    p{
                                        font-size: 18px;
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                    .art-gallery{
                        margin-bottom: 40px;
                        @include abs.breakpoint(desktopxl){
                            display: none;
                        }
                        img{
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        h4{
                            font-size: 24px;
                            font-weight: bold;
                            margin-bottom: 7px;
                            line-height: 32px;
                        }
                        .tecnologias{
                            display: flex;
                            gap: 18px;
                            margin-bottom: 20px;
                            p{
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 28px;
                            }
                        }
                        .buttons{
                            display: flex;
                            gap: 32px;
                            .button{
                                @include comp.boton;
                            }
                        }
                    }
                    .art-gallery-desktop{
                        display: none;
                        @include abs.breakpoint(desktopxl){
                            display: block;
                            .image-options{
                                position: relative;
                                margin-bottom: 20px;
                                &:hover{
                                    .options{
                                        opacity: 1;
                                        z-index: 1;
                                        cursor: pointer;
                                    }
                                }
                                .options{
                                    position: absolute;
                                    top: 0;
                                    opacity: 0;
                                    z-index: -1;
                                    width: 540px;
                                    height: 400px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 48px;
                                    background-color: rgba(0, 0, 0, 0.7);
                                    transition: opacity 1s ease-in-out;
                                    .button{
                                        @include comp.boton;
                                    }
                                }
                                .image-art-gallery-desktop{
                                    width: 540px;
                                }
                            }
                            .titulo-tecnologias{
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                gap: 7px;
                                h4{
                                    font-size: 24px;
                                    line-height: 32px;
                                    font-weight: bold;
                                }
                                .tecnologias{
                                    display: flex;
                                    gap: 18px;
                                    p{
                                        font-size: 18px;
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}